<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Enable use-expressions and choosing URLs to intercept -->

	
	<http auto-config="true" use-expressions="true">
	
		<!-- Declaring the login page, the default landing page after login, and the default page for any access denied.
			 Also declares that Spring Security should always use default landing page after login -->	
		<form-login login-page="/Login" default-target-url="/mainPage" authentication-failure-url="/Login?authError=true" always-use-default-target = "true"/>
				
				<!-- Declaring the default page for landing after logout -->		
		<logout logout-success-url="/Login" />	
			
			<intercept-url pattern="/Login" access="permitAll" />
			<intercept-url pattern="/Users" access="hasRole('ROLE_ADMIN')" />


	</http>	
	<beans:bean id="mongoUserDetailsService" class="br.com.gft.controller.MongoUserDetailsService" /> 	
	
	<!-- Redirect to User Service -->
	<authentication-manager erase-credentials="true">
		<authentication-provider user-service-ref="mongoUserDetailsService"/>
	</authentication-manager>
</beans:beans>