<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8"></meta>
	<title>Cost Center</title>


			<script type="text/javascript" src="js/jquery.js"></script>
			<script type="text/javascript" src="js/bootstrap.js"></script>

			<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
			<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css"/>
			<link rel="stylesheet" type="text/css" href="css/principal.css"/>
				
			<script type="text/javascript">
		
			/*this code is to hide the td  active class ,and this is used to verify if there is inactive on display ,
			  with true this code will change the checkbox as checked */
			$( document ).ready(function() {
					
					$( 'td.active' ).each(function( index ){
						$( this ).hide(100);
						
						if( $( this ).text() == 1 ) {
							$( '#isInactive' ).prop( 'checked' , true );
						}
						
					});
					
				
				});
			
			
			/* this code is to make  on server a solicitation of datas with inactives  */
			$( document ).ready(function(){ 
				$( '#isInactive' ).click( function() {
					  if ($( this ).is( ':checked' )) {
						   	window.location.href = 'CostCenterInactive';
				        }else{
				        	window.location.href = 'CostCenter';
				        }
				  });
			});
			
			/* this code is filter results and display just the results that is equals typed by user , 
			   otherwise the content will be hidden */ 
					$(document).ready(function(){
					  $("input").keyup(function(){
						  	var x = $( "input[name=search]" ).val();
							var x = x.toLowerCase()
						
					     	$('tr.cost').each(function( index ) {
					     			if(x == ""){
					     				$(this).show();
					     			}
					     			var title = $( this ).parent().find("td.title")[index].innerHTML;
					     			var title = title.toLowerCase();
					     			
					     			var id = $( this ).parent().find("td.id")[index].innerHTML;
					     			id = id.toLowerCase();
					     		    if(title.substring(0 ,x.length ) == x || id.substring(0 ,x.length) == x){
					     		    	
					     		    }else{
					     		    	$(this).hide(500);
					     		    	
					     		    
					     		    }
					     		
					     	});;
	
					  });
					});
		
			</script>
			
		</head>
		<body>
	
	<div th:include="NavMain :: navMain"></div>
	<div th:include="Modals :: costCenterGuide"></div>		
		


		<div id="employee_list">
			<section>
				<br/>
				<div class="container-fluid">
					<div class="row-fluid">
						
							
								 <form class="navbar-search pull-left">
								  	<fieldset>
									  	<legend>
									  		<ul class="legenda">
									  			<li>
									  				Cost Center
									  			</li>
									  			<li class="legenda_search">
									  				<input type="text" name="search" class="search-query" placeholder="Search"  style="width: 200px;"/>
									  			</li>
									  			<li>
										<label>
											<input type="checkbox" id="isInactive" /> 
											Include Removed Cost Centers
										</label>
									</li>
									  			<li id ="buttons_position">
										  			<ul>
											  			<li>
								  							<a href="CostCenterRegistration">
									  							<button type="button" class = "button-add">
																	<i class="icon-plus"></i>Add Cost Center
																</button>
															</a>
											  			</li>
											  			<li class="dropdown">
											  				<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
											  					<button type="button">
											  						<img src="img/tres-barras.png" style="width: 30px;"/>
											  					</button>
											  				</a>
											  				<ul class="dropdown-menu">
													<li><a href="mainPage"><font size="2" color="#555"><i
																class="icon-home"></i> Back to Main Page</font></a></li>
																								<li><a href="#ModalCCG" data-toggle="modal"><font
																size="2" color="#555"><i class="icon-question-sign"></i>
																	Cost Center Guide</font></a></li>
															</ul>
											  			</li>

										  			</ul>
									  			</li>
									  		</ul>
									  	</legend>
									  	</fieldset>
									</form>
							
								 <table class="table table-bordered">
				  					<thead>
				  					<tr>
				  						<th>Id</th>
				  						<th>Description</th>
				  						<th class="column-icon">Edit</th>
				  						<th class="column-icon">Active</th>
				  					
				  					</tr>
				  					</thead>
				  					<tbody>
				  					<tr id="${cost.id}" th:each="cost : ${costcenter}" class="cost">
				  						<td th:text="${cost.id}" class="id" ></td>
				  						<td th:text="${cost.title}" class="title" th:value="${cost.title}"></td>
				  						<td class="edit">
				  							<a href="#" th:href="@{/CostCenterUpdate(id=${cost.id})}">
					  							<button type="input" class="btn btn-default btn-lg">
	 													<i class="icon-pencil"></i>
												</button>
											</a>
										</td>
											
				  						<td class="remove">
					  							<a href="#" th:href="@{/CostCenterStatus(id=${cost.id} , status=${cost.active})}" class = "remove">
				  									<button type="input" class="btn btn-default btn-lg">
		 													<i class="icon-trash" th:if="${cost.active == 0}"></i>
														<i class="icon-repeat" th:if="${cost.active == 1}"></i>
													</button>
												</a>
				  						</td>
				  					</tr>
				  					</tbody>
								</table>
					</div>
				</div>
			</section>
			</div>
<div th:include="Pagination :: pagination"></div>			
			<br/>
			<br/>
	 	<script type="text/javascript">
			$(function(){
				$(".remove").click(function(){
					if (!confirm("Are you sure?")) {
						return false;
					}
				});
				
				page = window.location.href.split("/")
				if (page[page.length - 1] == "CostCenterInactive") {
					$('#isInactive').prop("checked", true);
				}
				
				$('#isInactive').change(function() {
					if ($( this ).is( ':checked' )) {
						window.location.href = 'CostCenterInactive';
					} else {
						window.location.href = 'CostCenter';
					}
				});
			});
		</script>
</body>

</html>