<html>
<head>
<meta charset="utf-8"></meta>
<title>Employee View</title>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="css/principal.css" />

<script type="text/javascript">
				function disableFilds(){	
					if(document.unitform.inactive.checked){	
							document.unitform.unit_description.disabled = 1;							
					}else{
							document.unitform.unit_description.disabled = 0;							
					}
				}
				function validateFilds(){
					 if(document.unitform.unit_description.value == ""){
							alert("Unit description field cannot be empty"); 
							exit;	
					 }	
				}
			</script>




</head>
<body>


<div th:include="NavMain :: navMain"></div>



	<div id="personal_info" class="clearfix">
		<br />
			<p id ="Employee_Header">Employee Informations</p>

			<div id="personal_left">
				<br /> <br />
				<table>
					<tr>
						<td id ="personal_name"	th:text="'Employee'"></td>
					</tr>
					<tr>
					<td>
								<img
									th:attr="src=@{'https://workspace.gft.com/epfis/employeeProfiles/personalData/PersonalImage.do?user='+${Employee.id}}"
									class="img-polaroid"/>
					</td>
					</tr>
					
					<tr>
						<td id ="personal_name"	th:text="${Employee.Id}"></td>
					</tr>

				</table>
			</div>
	
		<div id="personal_center">
			<br />
			<table id ="table_employee_view">
				<tr>
					<th>Name: </th>
					<td th:text="${Employee.name}"></td>
				</tr>
				<tr>
					<th>Letters: </th>
					<td th:text="${Employee.id}"></td>
				</tr>
				<tr>
					<th>Job Description : </th>
					<td th:text="${Employee.job.title}"></td>
				</tr>
				<tr>
					<th>User SAP: </th>
					<td th:text="${Employee.sap}"></td>
				</tr>
				<tr>
					<th>Joining Date: </th>
					<td th:text="${#dates.format(Employee.joinDate, 'MM/dd/yyyy')}"></td>
				</tr>
				<tr th:if="${Employee.leavingDate != null}">
					<th>Leave Date: </th>
					<td th:text="${#dates.format(Employee.leavingDate, 'MM/dd/yyyy')}"></td>
				</tr>
				<tr>
					<th>Job: </th>
					<td	th:text="${Employee.job.title}"></td>
				</tr>
				<tr>
					<th>Status: </th>
					<td th:switch="${Employee.active}">
						<font size="3" color="#ffffff"
						th:case="0">Active</font>
						<font th:case="1">Inactive</font>	
					</td>
				</tr>
				<tr>
					<th>Ramal: </th>
					<td th:text="${Employee.extension}"></td>
				</tr>
				<tr>
					<th> WorkSpace Name: </th>
					<td th:text="${Employee.wsName}"></td>
				</tr>
				<tr>
					<th>Email: </th>
					<td th:text="@{${Employee.id}+'@gft.com'}"></td>
				</tr>
				<tr>
					<th>Link WorkSpace: </th>
					<td><a class ="link"
							th:attr="href=@{'https://workspace.gft.com/epfis/employeeProfiles/search/showEmployee.do?userid='+${Employee.id}}">Click
								here to access</a></td>
				</tr>
				<tr>
					<th>Years GFT: </th>
					<td th:text="${yearGFT}"></td>
				</tr>
				<tr>
					<th>Cost Center: </th>
					<td	th:text="${Employee.costCenter.title}"></td>
				</tr>
				<tr>
					<th>Rate Prf: </th>
					<td th:text="${Employee.ratePrf.title}"></td>
				</tr>

			</table>
		</div>


		<div id="personal_right">
				<br /> <br />
				<table th:if="${mentor} != null">
					<tr>
						<td id="personal_mentor" th:text="'Mentor/Tutor'"></td>
					</tr>
					<tr>
						<td class="text-center">
						<a href="#" th:href="@{/EmployeeView(id=${mentor.id})}">
							<img th:attr="src=@{'https://workspace.gft.com/epfis/employeeProfiles/personalData/PersonalImage.do?user='+${mentor.id}}" class="img-polaroid" />
							<br/>
							<span id="personal_mentor"	th:text="${mentor.id}"></span>
							</a>
						
						</td>
					</tr>
				</table>
			</div>
	</div>


	<!-- Informations about employee projects -->
	<div id="project">
		<section>
			<br />
			<div class="container-fluid">
				<div class="row-fluid">

						<fieldset>
							<legend>
								<ul class="legenda">
									<li>Project Informations</li>
									<li class="legenda_search"></li>
								</ul>
							</legend>
						</fieldset>

					<table class="table table-bordered" font-color="#ffffff">
						<tr style="background-color: #00339f; border: 0px solid #00339f;">
							<td>
								<center>
									<font size="3" color="white">Project</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Customer</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Unit</font>
								</center>
							</td>

						</tr>

						<tr th:each="empAssign : ${EmployeeAssignment}">
							<div th:if="${empAssign.active == 0}">
								<td th:text="${empAssign.project.description}"></td>
								<td th:text="${empAssign.project.customer.description}">
									<center>
										<font size="3" color="#333"></font>
									</center>
								</td>
								<td th:text="${empAssign.project.customer.unit.description}">
									<center>
										<font size="3" color="#333">Exemplo Unit</font>
									</center>
								</td>

							</div>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>
	<br />
	<hr width="100%"></hr>
	<br />


	<!--Modal to add project -->





	<!-- Informations about employee Mentee -->
	<div id="mentees">
		<section>
			<div class="container-fluid">
				<div class="row-fluid">
					<fieldset>
						<legend>
							<ul class="legenda" id = "legenda_view">
								<li style ="padding-top: 10px">Employee Mentees</li>
								<li class="legenda_search"></li>
								<li style="position: relative; left: 450px;"></li>
								<li style="position: relative; left: 455px;"></li>
							</ul>
						</legend>
						<div id="mentee_img" th:each="emp : ${Employeels}">
									  		<div th:if="${emp.mentorId == Employee.id or emp.tutorId == Employee.id}">
										  			<div th:if="${emp.mentorId == null}">
										  				<center><p  th:text="'Tutor of'"></p></center>
										  			</div>
										  			<div th:if="${emp.mentorId != null}">
										  				<center><p  th:text="'Mentor of'"></p></center>
										  			</div>
										  			
										  		<a href="#" th:href="@{/EmployeeUpdate(id=${emp.id} , job=${emp.job.id} , cost=${emp.costCenter.id} , rate=${emp.ratePrf.id})}">
										  			
										  			<img th:attr="src=@{'https://workspace.gft.com/epfis/employeeProfiles/personalData/PersonalImage.do?user='+${emp.id}}" class="img-polaroid"/>
										  			<center><p th:text="${emp.id}"></p></center>
										  			<center><font size="1" th:text="${'WorkPlace : ' + emp.workplace}"></font></center>
										  		</a>
										  		
									  		</div>
						</div>

					</fieldset>
				</div>
			</div>
		</section>
	</div>
	<br />
	<hr width="100%"></hr>
	<br />

	<!-- Table with Informations about the history of employee mentor -->
	<div id="project">
		<section>
			<br />
			<div class="container-fluid">
				<div class="row-fluid">
					<fieldset>
						<legend>
							<ul class="legenda">
								<li>Mentor History</li>
								<li class="legenda_search"></li>
								<li style="position: relative; left: 445px;"></li>
								<li style="position: relative; left: 450px;"></li>
							</ul>
						</legend>
					</fieldset>

					<table class="table table-bordered" font-color="#ffffff">
						<tr style="background-color: #00339f; border: 0px solid #00339f;">
							<td>
								<center>
									<font size="3" color="white">Mentor Name</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Start Date</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Finish Date</font>
								</center>
							</td>

						</tr>

			<tr th:each="menthist : ${MentorHistory}">
			<div th:if="${menthist.employee.id == Employee.id and menthist.finishDate != null}">
								<td>
			 						<div th:each="emp : ${Employeels}">
										<div th:if="${menthist.mentorId == emp.id}">
											<center>
												<font size="3" color="#333" th:text="${emp.name}"></font>
											</center>
										</div>
									</div>
								</td>
								<td>
									<center>
										<font size="3" color="#333" th:text="${menthist.startDate}"></font>
									</center>
								</td>
								<td>
									<center>
										<font size="3" color="#333" th:text="${menthist.finishDate}">Finish
											Date</font>
									</center>
								</td>

							</div>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>
	<br />
	<br />
 
</body>

</html>