<html>
<head>
<meta charset="utf-8"></meta>
<title>Employee Update</title>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script src="js/jquery.validate.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="css/principal.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-responsive.css" />


</head>
<body>


	<div th:include="NavMain :: navMain"></div>
	<div th:include="Modals :: updateEmployee"></div>


	<form action="#" th:action="@{/ProcessEmployeeUpdate}"
		th:object="${Employee}" method="post">
		<div id="personal_info" class="clearfix">
			<p id="Employee_Header">Employee Informations</p>

			<div id="personal_left">
				<br /> <br />
				<table>
					<tr>
						<td id="personal_name" th:text="'Employee'"></td>
					</tr>
					<tr>
						<td><img
							th:attr="src=@{'https://workspace.gft.com/epfis/employeeProfiles/personalData/PersonalImage.do?user='+${Employee.id}}"
							class="img-polaroid" /></td>
					</tr>

					<tr>
						<td id="personal_name" th:text="${Employee.Id}"></td>
					</tr>

				</table>
			</div>
				<div id="personal_center">

					<br />

					<table id="table_employee_update">
						<tr>
							<th>Name:</th>
							<td><input type="text" class="input-field" name="name"
								th:field="*{name}" placeholder="Input employee name"
								required="true" maxlength="100" /></td>
						</tr>
						<tr>
							<th>Letters:</th>
							<td><input type="text" class="input-field" id="letter"
								th:field="*{id}" placeholder="input the letters "
								required="true" maxlength="4" /></td>
						</tr>
						<tr>
							<th>Job:</th>
							<td><select name="job" class="input-field" th:field="*{job}"
								required="true" id="job">
									<option id="tempJob" th:value="${job.id}"
										th:text="${job.title}" th:selected="${job.id}"></option>
									<option th:each="job : ${jobs}" th:value="${job.id}"
										th:text="${job.title}" th:selected="${job.id}"></option>

							</select></td>
						</tr>
						<tr>
							<th>User SAP:</th>
							<td><input type="text" class="input-field" name="userSAP"
								th:field="*{sap}" placeholder="input the employee workplace "
								required="true" maxlength="10" /></td>
						</tr>

						<tr>
							<th>Joining Date:</th>
							<td><input type="date" name="joinDate" class="input-field"
								th:value="${#dates.format(Employee.joinDate, 'yyyy-MM-dd')}"
								required="true" /></td>
						</tr>
						<tr>
							<th>Ramal:</th>
							<td><input type="text" name="ext" class="input-field"
								th:field="*{extension}" placeholder="input the extension" maxlength="4" /></td>
						</tr>
						<tr>
							<th>WorkSpace:</th>
							<td><input type="text" class="input-field"
								th:field="*{wsName}" placeholder="input the workspace name"
								required="true" maxlength="100" /></td>
						</tr>
						<tr>
							<th>Cost Center:</th>
							<td><select name="cost" class="input-field"
								th:field="*{costCenter}" required="true" id="cost">
									<option id="tempCost" th:value="*{costCenter.id}"
										th:text="*{costCenter.title}" th:selected="*{costCenter.id}"></option>
									<option th:each="cost : ${costcenters}" th:value="${cost.id}"
										th:text="${cost.title}"></option>

							</select></td>
						</tr>
						<tr>
							<th>Work Place:</th>
							<td><input type="text" class="input-field"
								th:field="*{workplace}" placeholder="input the work place"
								maxlength="10" /></td>
						</tr>
						<tr>
							<th>Rate Prf:</th>
							<td><select th:field="*{ratePrf}" id="rate" required="true"
								class="input-field">
									<option id="tempRate" th:value="*{ratePrf.id}"
										th:text="*{ratePrf.title}" th:selected="*{ratePrf.id}"></option>
									<option th:each="rate : ${rateprfs}" th:value="${rate.id}"
										th:text="${rate.title}"></option>
							</select></td>
						</tr>


					</table>

				</div>
			<div id="personal_right">
				<br /> <br />
				<table>
					<tr>
						<td id="personal_mentor" th:text="'Mentor/Tutor'"></td>
					</tr>
					<tr>
						<td><img
							th:attr="src=@{'https://workspace.gft.com/epfis/employeeProfiles/personalData/PersonalImage.do?user='+${Employee.mentorId}}"
							class="img-polaroid" /></td>
					</tr>
					<tr th:if="${Employee.mentorId} != null">
						<td id="personal_mentor" th:text="${Employee.mentorId}"></td>
					</tr>
				</table>
			</div>

		</div>

		<div id="buttons">

			<button class="btn btn-primary" type="submit">Save</button>

			<a href="Employee">
				<button class="btn btn-warning" type="button">Cancel</button>
			</a>
		</div>
		<br />
		<hr width="100%"></hr>
		<br />
	</form>


	<!-- Informations about employee projects -->
	<div id="project">
		<div th:if="${verify == 1}">
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">
					<font th:text="'x'"></font>
				</button>
				<font>Employee already registered to this project</font>
			</div>
		</div>
		<section>
			<br />
			<div class="container-fluid">
				<div class="row-fluid">


					<fieldset>
						<legend>
							<div id="buttons">
								<ul class="legenda">
									<li id="left_header">Project Informations</li>
									<li><a href="#ModalAP" role="button" class="btn"
										data-toggle="modal"> <i class="icon-plus"></i><font
											size="1" color="#555"> Add Project</font>
									</a></li>
								</ul>
							</div>
						</legend>
					</fieldset>

					<table class="table table-bordered" font-color="#ffffff">
						<tr style="background-color: #00339f; border: 0px solid #00339f;">
							<td>
								<center>
									<font size="3" color="white">Project</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Customer</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Unit</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Remove</font>
								</center>
							</td>
						</tr>

						<tr th:each="empAssign : ${EmployeeAssignment}">
							<div th:if="${empAssign.active == 0}">
								<td th:text="${empAssign.project.description}"></td>
								<td th:text="${empAssign.project.customer.description}">
									<center>
										<font size="3" color="#333"></font>
									</center>
								</td>
								<td th:text="${empAssign.project.customer.unit.description}">
									<center>
										<font size="3" color="#333"></font>
									</center>
								</td>
								<td><a href="#"
									th:href="@{/EmployeeAssignInactivate(empAssigId=${empAssign.id} , project=${empAssign.project.id} , id=${Employee.id} , job=${Employee.job.id} , cost=${Employee.costCenter.id} , rate=${Employee.ratePrf.id})}">
										<center>
											<button type="submit" class="btn btn-default btn-lg">
												<i class="icon-trash"></i>
											</button>
										</center>
								</a></td>
							</div>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>
	<br />
	<hr width="100%"></hr>
	<br />


	<div th:if="${verifyMent == 0}" style="width: 70%; margin: 0 auto;">
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert"
				th:text="'x'"></button>
			<font>Mentee/Trainee does not exist or cannot employee be a
				mentor of himself</font>
		</div>
	</div>
	<!-- Informations about employee Mentee -->
	<div id="mentees">
		<section>
			<div class="container-fluid">
				<div class="row-fluid">



					<fieldset>
						<legend>
							<div id="buttons">
								<ul class="legenda">
									<li id="left_header">Employee Mentees</li>
									<li class="legenda_search"></li>
									<li><a href="#ModalAM" role="button" class="btn"
										data-toggle="modal">
											<center>
												<i class="icon-plus"></i><font size="1" color="#555">
													Add Mentee</font>
											</center>
									</a></li>
									<li><a href="#ModalAT" role="button" class="btn"
										data-toggle="modal">
											<center>
												<i class="icon-plus"></i><font size="1" color="#555">
													Add Trainee</font>
											</center>
									</a></li>
								</ul>
							</div>
						</legend>
						<div id="mentee_img" th:each="emp : ${Employeels}">
							<div
								th:if="${emp.mentorId == Employee.id or emp.tutorId == Employee.id}">
								<div th:if="${emp.mentorId == null}">
									<center>
										<p th:text="'Tutor of'"></p>
									</center>
								</div>
								<div th:if="${emp.mentorId != null}">
									<center>
										<p th:text="'Mentor of'"></p>
									</center>
								</div>

								<a href="#"
									th:href="@{/EmployeeUpdate(id=${emp.id} , job=${emp.job.id} , cost=${emp.costCenter.id} , rate=${emp.ratePrf.id})}">

									<center>
										<img
											th:attr="src=@{'https://workspace.gft.com/epfis/employeeProfiles/personalData/PersonalImage.do?user='+${emp.id}}"
											class="img-polaroid" />
										<p th:text="${(emp.id)}"></p>
										<font size="1" th:text="${'WorkPlace : ' + emp.workplace}"></font>
									</center>
								</a>

							</div>
						</div>

					</fieldset>
				</div>
			</div>

		</section>






	</div>
	<br />
	<hr width="100%"></hr>
	<br />

	<!-- Table with Informations about the history of employee mentor -->
	<div id="project">
		<div th:if="${mentorHistoryControlMessage == 1}">
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">
					<font th:text="x"></font>
				</button>
				<font>Date start must be before finish date</font>
			</div>
		</div>



		<section>
			<br />
			<div class="container-fluid">
				<div class="row-fluid">
					<fieldset>
						<legend>
							<ul class="legenda">
								<li>Mentor History</li>
								<li class="legenda_search"></li>
								<li style="position: relative; left: 445px;"></li>
								<li style="position: relative; left: 450px;"></li>
							</ul>
						</legend>
					</fieldset>

					<table class="table table-bordered" font-color="#ffffff">
						<tr style="background-color: #00339f; border: 0px solid #00339f;">
<!-- 							<td> -->
<!-- 								<center> -->
<!-- 									<font size="3" color="white">Type</font> -->
<!-- 								</center> -->
<!-- 							</td> -->
							<td>
								<center>
									<font size="3" color="white">Mentor Name</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Start Date</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Finish Date</font>
								</center>
							</td>
							<td>
								<center>
									<font size="3" color="white">Edit</font>
								</center>
							</td>
						</tr>

						<tr th:each="menthist : ${MentorHistory}">
							<div
								th:if="${menthist.employee.id == Employee.id and menthist.finishDate != null}">
								<td>
									<div th:each="emp : ${Employeels}">
										<div th:if="${menthist.mentorId == emp.id}">
											<center>
												<font size="3" color="#333" th:text="${emp.name}"></font>
											</center>
										</div>
									</div>
								</td>
								<td>
									<center>
										<font size="3" color="#333"
											th:text="${#dates.format(menthist.startDate, 'yyyy-MM-dd')}"></font>
									</center>
								</td>
								<td>
									<center>
										<font size="3" color="#333" th:text="${menthist.finishDate}">Finish
											Date</font>
									</center>
								</td>
								<!--/div-->
								<td><a th:attr="href=@{'#myModalMH'+${menthist.id}}"
									data-toggle="modal">
										<center>
											<button type="submit" role="button" class="btn"
												data-toggle="modal">
												<i class="icon-pencil"></i>
											</button>
										</center>
								</a></td>
							</div>


<!-- 	Modal Mentor History  -->
<section>
	<form action="#"
		th:action="@{/ProcessMentorsHistoryUpdate(histId=${menthist.id},employeeId=${Employee.id},job=${Employee.job.id} , cost=${Employee.costCenter.id} , rate=${Employee.ratePrf.id})}"
		method="post">
		<div th:attr="id=@{'myModalMH'+${menthist.id}}"
			class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<font th:text="'x'"></font>
				</button>
				<h3 id="myModalLabel">Edit Mentor History</h3>
			</div>
			<div class="modal-body">
				<label>Start Date</label> <input type="date"
					class="input-large"
					th:value="${#dates.format(menthist.startDate, 'yyyy-MM-dd')}"
					name="start_date" required="true" /> <label>Finish
					Date</label> <input type="date" class="input-large"
					th:value="${menthist.finishDate}" name="finish_date"
					required="true" />
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">close</button>
				<button type="submit" class="btn btn-primary">Save
					Changes</button>
			</div>
			</div>
	</form>
</section>

						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>
	<br />
	<br />
	<script type="text/javascript">
		$(document).ready(function() {
			$("#ext").bind("keyup blur focus", function(e) {
				e.preventDefault();
				var expre = /[^\d]/g;
				$(this).val($(this).val().replace(expre, ''));
			});
			$("#rate").hover(function() {
				$("#tempRate").hide();
			});
			$("#cost").hover(function() {
				$("#tempCost").hide();
			});
			$("#job").hover(function() {
				$("#tempJob").hide();
			});
		});
	</script>
</body>
</html>