<html>
<head>
	<meta charset="utf-8"></meta>
	<title>Employee Registration</title>

			<script type="text/javascript" src="js/jquery.js"></script>
			<script type="text/javascript" src="js/bootstrap.js"></script>

			<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
			<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css"/>
			<link rel="stylesheet" type="text/css" href="css/principal.css"/>
				
			<script type="text/javascript">
			
			</script>
			
		</head>
		<body>
			

	<div th:include="NavMain :: navMain"></div>

			<br/>
						
			<form action="#" th:action="@{/ProcessEmployeeRegistration}" th:object="${Employee}" id ="frmEmployee" method="post">	
			
<div id="personal_info" class="clearfix">
			<p id="Employee_Header">Employee Informations</p>

			<div id="personal_left">
				<br /> <br />
				<table>
					<tr>
						<td id="personal_name" th:text="'New Employee'"></td>
					</tr>
					<tr>
						<td><img
							th:attr="src=@{'https://workspace.gft.com/epfis/employeeProfiles/personalData/PersonalImage.do?user='+${Employee.id}}"
							class="img-polaroid" /></td>
					</tr>

				</table>
			</div>

			 		<div id="personal_center">
			 		  
			 			<br/>
			 			
						<table id="table_employee_update">
						<tr>
							<th>Name:</th>
							<td><input type="text" class="input-field" name="name"
								th:field="*{name}" placeholder="Input employee name"
								required="true" maxlength="100" /></td>
						</tr>
						<tr>
							<th>Letters:</th>
							<td><input type="text" class="input-field" id="letter"
								th:field="*{id}" placeholder="input the letters "
								required="true" maxlength="4" /></td>
						</tr>
						<tr>
							<th>Job:</th>
										<td>
										<select name="job" class="input-field" th:field="*{job}"
								required="true" id="job">
						   		<option value=""></option>
								  <option th:each="job : ${job}"  th:value="${job.id}" th:text="${job.title}"></option>
									</select>
				 				</td>

						</tr>
						<tr>
							<th>User SAP:</th>
							<td><input type="text" class="input-field" name="userSAP"
								th:field="*{sap}" placeholder="input the employee workplace "
								required="true" maxlength="10" /></td>
						</tr>

						<tr>
							<th>Joining Date:</th>
							<td><input type="date" name="joinDate" class="input-field"
								th:field="*{joinDate}"
								required="true" /></td>
						</tr>
						<tr>
							<th>Ramal:</th>
							<td><input type="text" name="ext" class="input-field"
								th:field="*{extension}" placeholder="input the ramal" minlength="4" maxlength="4"/></td>
						</tr>
						<tr>
							<th>WorkSpace:</th>
							<td><input type="text" class="input-field"
								th:field="*{wsName}" placeholder="input the workspace name"
								required="true" maxlength="100" /></td>
						</tr>
						<tr>
							<th>Cost Center:</th>
							<td>
							<select name="cost" class="input-field"
								th:field="*{costCenter}" required="true" id="cost">
									<option value=""></option>
												  		<option th:each="cost : ${costcenter}"  th:value="${cost.id}" th:text="${cost.title}"></option>
							</select>
							</td>
						</tr>
						<tr>
							<th>Work Place:</th>
							<td><input type="text" class="input-field"
								th:field="*{workplace}" placeholder="input the work place"
								maxlength="10" /></td>
						</tr>
						<tr>
							<th>Rate Prf:</th>
							<td><select th:field="*{ratePrf}" id="rate" required="true"
								class="input-field">
									 <option value=""></option>
												  <option th:each="rate : ${rateprf}"  th:value="${rate.id}" th:text="${rate.title}"></option>
							</select></td>
						</tr>


					</table>
				 		
			 		</div>

			 			<div id="personal_right">
				<br /> <br />
				<table>
					<tr>
						<td id="personal_mentor" th:text="'Mentor/Tutor'"></td>
					</tr>
					<tr>
						<td><img
							th:attr="src=@{'https://workspace.gft.com/epfis/employeeProfiles/personalData/PersonalImage.do?user='+${Employee.mentorId}}"
							class="img-polaroid" /></td>
					</tr>
				</table>
			</div>
				 		 	
			</div>	
			
			  <div id="buttons">
					<a href="ProcessEmployeeRegistration">
						<button class="btn btn-primary"  type="submit" onclick="validateFilds()">
							Save
						</button>
					</a>
					<a href="Employee">
						<button class="btn btn-warning" type="button">
							Cancel
						</button>
					</a>
									  				<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
									  					<button type="button">
									  						<img src="img/tres-barras.png" style="width: 30px; heigth:40px;"/>
									  					</button>
									  				</a>
									  				<ul class="dropdown-menu">
											<li><a href="mainPage"><i
														class="icon-home"></i> Back to Main Page</a></li>
																						<li><a href="#ModalPG" data-toggle="modal">
														<i class="icon-question-sign"></i>
															Information</a></li>
													</ul>
									  				
				</div>

				<br />
				<br /> 
			</form>						  		
</body>

</html>