 <html>
<head>
<meta charset="utf-8"></meta>
<title>Employee</title>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="css/principal.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-responsive.css" />




<script type="text/javascript">
			/*this code is to hide the td  active class ,and this is used to verify if there is inactive on display ,
			  with true this code will change the checkbox as checked */
			$( document ).ready(function() {
					
					$( 'td.active' ).each(function( index ){
						$( this ).hide(100);
						
						if( $( this ).text() == 1 ) {
							$( '#isInactive' ).prop( 'checked' , true );
						}
						
					});
					
				
			
			page = window.location.href.split("/");
			page = page[page.length - 1].split("?");
			
			if (page[0] == "EmployeeInactive") {
				$('#isInactive').prop("checked", true);
			}
			/* this code is to make  on server a solicitation of datas with inactives  */
				$( '#isInactive' ).click( function() {
					  if ($( this ).is( ':checked' )) {
						   	window.location.href = 'EmployeeInactive';
				        }else{
				        	window.location.href = 'Employee';
				        }
				  });
			
			/* this code is filter results and display just the results that is equals typed by user , 
			   otherwise the content will be hidden */ 
				  $("input").keyup(function(){
					  	var x = $( "input[name=search]" ).val();
						var x = x.toLowerCase();
					
				     	$('tr.employee').each(function( index ) {
				     			if(x == ""){
				     				$(this).show();
				     			}
				     			var id = $( this ).parent().find("td.id")[index].innerHTML;
				     			var id = id.toLowerCase();
				     			var ws_name = $( this ).parent().find("td.ws_name")[index].innerHTML;
				     			var ws_name = ws_name.toLowerCase();
								
				     		    if(ws_name.substring(0 ,x.length ) == x || id.substring(0 , x.length) == x){
				     		    	
				     		    }else{
				     		    	$(this).hide(200);
				     		    }
 
				     	});;
				  });
				  
	
			});
			

			</script>


</head>
<body>
	<div th:if="${checker == 1}" class="alert alert-error" id="alert" style="margin: 0 auto;">
				<button type="button" class="close" data-dismiss="alert"><font th:text="'x'" ></font></button>
				Employee Already Reqistered
	</div>

	<div th:include="NavMain :: navMain"></div>
	<div th:include="Modals :: employeeGuide"></div>
	
	<div id="employee_list">
		<section>
			<br />
			<div class="container-fluid">
				<div class="row-fluid">
					<form class="navbar-search pull-left">
						<fieldset>
							<legend>
								<ul class="legenda">
									<li>Employees</li>
									
									<li class="legenda_search">
										<input type="text" class="search-query" name="search" placeholder="Search" style="width: 200px;" />
									</li>
									
									<li>
										<label>
											<input type="checkbox" id="isInactive" /> 
											Include Removed Employees
										</label>
									</li>
									
									<li id ="buttons_position">
										<ul>
											<li>
												<a href="EmployeeRegistration">
													<button type="button">
														<i class="icon-plus"></i>
														Add Employee
													</button>
												</a>
											</li>
											
											<li class="dropdown">
												<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
													<button type="button">
														<img src="img/tres-barras.png" style="width: 30px; heigth: 40px;" />
													</button>
												</a>
												
												<ul class="dropdown-menu">
													<li>
														<a href="mainPage">
															<i class="icon-home"></i>
															Back to Main Page
														</a>
													</li>
													
													<li>
														<a href="#ModalEG" data-toggle="modal">
															<i class="icon-question-sign"></i>
															Employee guide
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</legend>
						</fieldset>
					</form>

					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 80px;">Letters</th>
								
								<th style="width: 300px;">Name</th>
								
								<th style="width: 200px;">Job</th>
								
								<th style="width: 120px;">Mentor/Tutor</th>
								
								<th style="width: 20px;">View</th>
	
								<th style="width: 20px;">Edit</th>
								
								<th style="width: 20px;">Remove</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="emp : ${Employee}" class="employee">
								<td th:text="${emp.id}" class="id"></td>
								
								<td th:text="${emp.wsName}" class="ws_name"></td>
								
								<td th:text="${emp.job.id}"></td>
								
								<td th:text="${emp.tutorId}"  th:if="${emp.tutorId != null}"></td>
								
								<td  th:if="${emp.mentorId != null}" th:text="${emp.mentorId}"></td>
								
								<td th:if="${emp.mentorId == null}">&nbsp;</td>
								
								<td style="width: 20px;" class="text-center">
									<a href="#" th:href="@{/EmployeeView(id=${emp.id} , job=${emp.job.id} , cost=${emp.costCenter.id} , rate=${emp.ratePrf.id})}">
										<button type="submit" class="btn btn-default btn-lg">
											<i class="icon-eye-open"></i>
										</button>
									</a>
								</td>
								
								<td style="width: 20px;" class="text-center">
									<a href="#" th:href="@{/EmployeeUpdate(id=${emp.id} , job=${emp.job.id} , cost=${emp.costCenter.id} , rate=${emp.ratePrf.id})}" th:if="${emp.active == 0}">
										<button type="submit" class="btn btn-default btn-lg">
											<i class="icon-pencil"></i>
										</button>
									</a>
									
									<div th:unless="${emp.active == 0}">-</div>
								</td>
								
								<td style="width: 20px;" class="text-center">
									<div th:if="${emp.active == 0}">
	
										<a type="input" th:attr="href=@{'#mymodal'+${emp.id}}" role="button" class="btn btn-default btn-lg" data-toggle="modal">
											<i class="icon-trash"></i>
										</a>
	
										<!-- Modal -->
										<form action="#" th:action="@{/EmployeeInactivate(id=${emp.id} , job=${emp.job.id} , cost=${emp.costCenter.id} , rate=${emp.ratePrf.id})}" th:object="${emp}" method="post">
											<div th:attr="id=@{'mymodal'+${emp.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
												<div class="modal-header">
													<h3 id="myModalLabel">Select the leaving date to employee</h3>
												</div>
												
												<div class="modal-body">
													<input type="date" name="leaving_date" placeholder="input the end date" style="width: 300px; heigth: 30px;" />
												</div>
												
												<div class="modal-footer">
													<button class="btn" data-dismiss="modal" aria-hidden="true">close</button>
													<button type="submit" class="btn btn-primary">Save</button>
												</div>
											</div>
										</form>
									</div>
									
									<div th:unless="${emp.active == 0}">-</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>

	
	<div th:include="Pagination :: pagination"></div>
	
	<br />
	<br />
 
</body>
</html>