<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1"></meta>
		<title>Import Initial</title>
		
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css"/>
		<link rel="stylesheet" type="text/css" href="css/principal.css"/>
	</head>
	
	<body>
		<div th:include="NavMain :: navMain"></div>

		<br/>
		<br/>
		<br/>

		<div class="text-center">
			<img src="img/warning.png" style="heigth: 100px; width: 100px;"/>
			
			<h2>Initial Import file</h2>
			
			<p class="text-danger">
				This page is to upload all content at excel file <br />
				Its is very important to follow the default sheet to import<br/>
				You can download the example sheet here
				<a  href="xls-templates/default.xlsx"> Example sheet</a>
			</p>
			
			<br/>
			
			<form action="UploadInitial" enctype="multipart/form-data" method="post">
				<label><b>Enter the Excel File</b></label>
				
				<input type="file" name="file" required="true" />
				
				<input type="submit" value="Upload" />
				
				<p class="text-danger">Excel (.xls/.xlsx) file Expected.</p>		
				
				<br />
				<br />
				
				<p th:if="${fileName != null}" th:text="${fileName} + ' imported with success'" class="text-success"></p>
			</form>
			
			<div th:if="${viewHab == 1}">
				<div id="btn_send"> 			
					<form action="#" th:action="@{/processExcelInitial}" method="post">
						<input type="hidden" name="file" th:value="${fileName}" />
						
						<p class="text-success">Press button bellow finish to complete the upload</p>
				
						<input type="submit" class="btn btn-primary" value="Finish Import" id="send"/>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>