<div th:fragment="modals">

	<!-- Modal to change password -->
	<section>
		<form action="#" th:action="@{/UpdateUserPassword}" th:object="${Users}" method="post">
			<div id="ModalCP" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<h3 id="myModalLabel">Change Password</h3>
				</div>
				
				<div class="modal-body">
					<input type="hidden" name="redirect" th:value="${#httpServletRequest.requestURI}" />
					<input type="hidden" name="query" th:value="${#httpServletRequest.queryString}" />
					<input type="hidden" name="username" th:value="${session.user}" />

					<label>Old Password</label>
					<input type="password" name="oldPass" placeholder="Old password" maxlength="64" required="required" />
					
					<label>New Password</label>
					<input type="password" name="newPass" placeholder="New password" maxlength="64" required="required" />
					
					<label>Repeat Password</label>
					<input type="password" name="repPass" placeholder="Repeat new password" maxlength="64" required="required" />
				</div>
				
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
	</section>
	
	<!-- Messages-->
	
	<section class="user_messages">
		<div th:if="${ControlMessages == 0}" class="alert alert-success"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			Registered with Success !!
		</div>

		<div th:if="${ControlMessages == 1}" class="alert alert-error"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			Password must be equals !!
		</div>

		<div th:if="${ControlMessages == 2}" class="alert alert-error"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			Username already registered !!
		</div>

		<div th:if="${ControlMessages == 3}" class="alert alert-success"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			Password updated with Success !!
		</div>

		<div th:if="${ControlMessages == 4}" class="alert alert-error"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			New password must be equals !!
		</div>

		<div th:if="${ControlMessages == 5}" class="alert alert-error"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			Old password not exist or is not the correct !!
		</div>
		<div th:if="${ControlMessages == 6}" class="alert alert-error"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			Username not exist or is not the correct !!
		</div>
		<div th:if="${ControlMessages == 7}" class="alert alert-success"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			Status changed with Success !!
		</div>
		<div th:if="${ControlMessages == 8}" class="alert alert-error"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			Occurred an error trying to change status of this user, verify if the
			user really exists!!
		</div>
	</section>
	
	<!-- Modal Administration Guide-->
	
	<section>
	<div id="ModalAG" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 class ="text-center" id="myModalLabel">Administration Guide</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<legend>
					<font size="4"> <b> Function Search </b></font>
				</legend>
			</fieldset>
			<span>  the search function is a field that allow you to find Users just typing
			        Username or User Role.
					<br />
					the option "include removed", will include disabled users on search.
			</span>
					<br/>
					<br/>
					<br/>
				<fieldset>
					<legend>
						<font size="4"> <b> Function Users' Page</b></font>
					</legend>
				</fieldset>
				<span>
				<div class="text-center">
						<img src="img/CRUD.JPG" />
				</div>
					<br />
					<br />
				 To <b>Register Users</b> use the button <b><i class="icon-plus"></i>Add User</b>
				 and you will be redirected to	the page to register a new User.<br />
				 To <b>View Users</b> informations use the button <i class="icon-eye-open"></i> and you
				 will be redirected to the page of selected User.<br />
				 To <b>Update Users</b> informations use the button <i class="icon-pencil"></i>
				 and you will be redirected to the selected User's page.<br/>
				 To <b>Remove Users</b> use the button <i class="icon-trash"></i>
				 and, after, please confirm if you really want to disable the user at next popup.
				</span>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>
</section>
	
</div>


<!-- Modal to Delete Employee -->

<div th:fragment="deleteEmployee">
	<form action="#" th:action="@{/EmployeeStatus(id=${emp.id} , job=${emp.job.id} , cost=${emp.costCenter.id} , rate=${emp.ratePrf.id})}" method="post">
		<div th:attr="id=@{'disable_'+${emp.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header"  style="text-align: left;">
				<h3 id="myModalLabel">Select the leaving date to employee</h3>
			</div>
			
			<div class="modal-body"  style="text-align: left;">
				<input type="date" name="leaving_date" placeholder="input the end date" style="width: 300px;"/>
			</div>
			
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">close</button>
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
	</form>
</div>

<!-- Modals to Update Employee -->	
		
<div  id ="modals_employee_update" th:fragment="updateEmployee">

	<div th:if="${verifyMent == 0}" class="alert alert-error"
				id="alert">
				<button type="button" class="close" data-dismiss="alert">
					<font th:text="'x'"></font>
				</button>
				Mentee cannot employee be a	mentor of himself
	</div>
	<div th:if="${verifyMent == 2}" class="alert alert-error"
			id="alert">
			<button type="button" class="close" data-dismiss="alert">
				<font th:text="'x'"></font>
			</button>
			You cannot add this mentor to mentee.
	</div>

<!--Modal to add project -->
<section>
	<div class="container-fluid">
		<div class="row-fluid">

			<form action="#"
				th:action="@{/EmployeeAssignment(id=${Employee.id} , job=${Employee.job.id} , cost=${Employee.costCenter.id} , rate=${Employee.ratePrf.id})}"
				th:object="${Assignment}" method="post">
				<!-- Modal -->
				<div id="ModalAP" class="modal hide fade" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel"
					aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="myModalLabel">Add new project to employee</h3>
					</div>
					<div class="modal-body">



						<label>Project</label> <select style="height: 25px;"
							th:field="*{project}" required="required">
							<option value=""></option>
							<option th:each="proj : ${Project}" th:value="${proj.description}"
								th:text="${proj.description}"></option>
						</select>


					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button class="btn btn-primary">Save changes</button>
					</div>
				</div>

			</form>

		</div>
	</div>
</section>

<!--Modal to add mentee -->

<section>
	<div class="container-fluid">
		<div class="row-fluid">
			<form action="#"
				th:action="@{/EmployeeAddMentee(employeeId=${Employee.id} , job=${Employee.job.id} , cost=${Employee.costCenter.id} , rate=${Employee.ratePrf.id})}"
				th:object="${Employee}" method="post">
				<div id="ModalAM" class="modal hide fade" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel"
					aria-hidden="true">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<font th:text="'x'"></font>
						</button>
						<h3 id="myModalLabel">Add new mentee to employee</h3>
					</div>

					<div class="modal-body">
						<select style="height: 25px; width: auto;" name="id" th:field="*{id}"
							required="required">
								<option th:each="ment : ${qtyMentee}"
									th:value="${ment.id}"
									th:text="${ment.name} +', '+ ${ment.job.id} + ' (N&deg; Mentees: ' + ${ment.qtyMentee} +')'"
									th:title="'Letters: ' + ${ment.id}"
									th:if="${ment.job.position > Employee.job.position}"></option>
						</select>
					</div>


					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">close</button>
						<button class="btn btn-primary">Save Changes</button>
					</div>

				</div>
			</form>
		</div>
	</div>
</section>

<!-- Modal to add tutor -->

<section>
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- Modal -->
			<form action="#"
				th:action="@{/EmployeeAddTutor(employeeId=${Employee.id}  , job=${Employee.job.id} , cost=${Employee.costCenter.id} , rate=${Employee.ratePrf.id})}"
				th:object="${Employee}" method="post">
				<div id="ModalAT" class="modal hide fade" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel"
					aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="myModalLabel">Add new Tutor to employee</h3>
					</div>
					<div class="modal-body">

						<select style="height: 25px;" th:field="*{id}"
							required="required">
							<option th:each="emp : ${Employeels}" th:value="${emp.id}"
								th:text="${emp.id} + ' (' + ${emp.mentorId} +')'"
								th:title="'Mentee: ' + ${emp.name} + ', Mentor: (' + ${emp.mentorId} +')'"></option>
						</select>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">close</button>
						<button class="btn btn-primary">Save Changes</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
</div>

<!--  Employee Guide -->
<section th:fragment="employeeGuide">
	<div id="ModalEG" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 class ="text-center" id="myModalLabel">Employee Guide</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<legend>
					<font size="4"> <b> Function Search </b></font>
				</legend>
			</fieldset>
			<span>  the search function is a field that allow you to find Employees just typing
			        Letters, Name, Job, or Mentor.
					<br />
					the option "include removed", will include disabled employees on search.
			</span>
					<br/>
					<br/>
					<br/>
				<fieldset>
					<legend>
						<font size="4"> <b> Function Employees' page</b></font>
					</legend>
				</fieldset>
				<span>
				<div class="text-center">
						<img src="img/CRUD.JPG" />
				</div>
					<br />
					<br />
				 To <b>Register Employees</b> use the button <b><i class="icon-plus"></i>Add Employees</b>
				 and you will be redirected to	the page to register a new Employee.<br />
				 To <b>View Employees</b> informations use the button <i class="icon-eye-open"></i> and you
				 will be redirected to the page of selected Employee.<br />
				 To <b>Update Employees</b> informations use the button <i class="icon-pencil"></i>
				 and you will be redirected to the selected Employee's page.<br/>
				 To <b>Remove Employee</b> use the button <i class="icon-trash"></i>
				 after, please insert the leaving date at next popup.
				</span>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>	
</section>

	<!--  Job Guide -->

<section th:fragment="jobGuide">
	<div id="ModalJG" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 class ="text-center" id="myModalLabel">Job Guide</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<legend>
					<font size="4"> <b> Function Search </b></font>
				</legend>
			</fieldset>
			<span>  the search function is a field that allow you to find Jobs just typing
			        Id, Description or Hierarchy.
					<br />
					the option "include removed", will include disabled jobs on search.
			</span>
					<br/>
					<br/>
					<br/>
				<fieldset>
					<legend>
						<font size="4"> <b> Function Jobs' page</b></font>
					</legend>
				</fieldset>
				<span>
				<div class="text-center">
						<img src="img/CRUD.JPG" />
				</div>
					<br />
					<br />
				 To <b>Register Jobs</b> use the button <b><i class="icon-plus"></i>Add Jobs</b>
				 and you will be redirected to	the page to register a new Job.<br />
				 To <b>View Job</b> informations use the button <i class="icon-eye-open"></i> and you
				 will be redirected to the page of selected Job.<br />
				 To <b>Update Jobs</b> informations use the button <i class="icon-pencil"></i>
				 and you will be redirected to the selected Jobs's page.<br/>
				 To <b>Remove Jobs</b> use the button <i class="icon-trash"></i>
				 and, after, please confirm if you really want to disable the job at next popup.
				</span>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>	
</section>


<!--  Project Guide -->


<section th:fragment="projectGuide">
	<div id="ModalPG" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 class ="text-center" id="myModalLabel">Project Guide</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<legend>
					<font size="4"> <b> Function Search </b></font>
				</legend>
			</fieldset>
			<span>  the search function is a field that allow you to find Projects just typing
			        Id, Description or Customer.
					<br />
					the option "include removed", will include disabled projects on search.
			</span>
					<br/>
					<br/>
					<br/>
				<fieldset>
					<legend>
						<font size="4"> <b> Function Projects' page</b></font>
					</legend>
				</fieldset>
				<span>
				<div class="text-center">
						<img src="img/CRUD.JPG" />
				</div>
					<br />
					<br />
				 To <b>Register Projects</b> use the button <b><i class="icon-plus"></i>Add Projects</b>
				 and you will be redirected to	the page to register a new Project.<br />
				 To <b>View Project</b> informations use the button <i class="icon-eye-open"></i> and you
				 will be redirected to the page of selected Project.<br />
				 To <b>Update Projects</b> informations use the button <i class="icon-pencil"></i>
				 and you will be redirected to the selected Projects's page.<br/>
				 To <b>Remove Projects</b> use the button <i class="icon-trash"></i>
				 and, after, please confirm if you really want to disable the project at next popup.
				</span>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>	
</section>


<!--  Customer Guide -->

<section th:fragment="customerGuide">
		<div id="ModalCG" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 class ="text-center" id="myModalLabel">Customer Guide</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<legend>
					<font size="4"> <b> Function Search </b></font>
				</legend>
			</fieldset>
			<span>  the search function is a field that allow you to find Customers just typing
			        Id, Description or Customer.
					<br />
					the option "include removed", will include disabled customers on search.
			</span>
					<br/>
					<br/>
					<br/>
				<fieldset>
					<legend>
						<font size="4"> <b> Function Customers' page</b></font>
					</legend>
				</fieldset>
				<span>
				<div class="text-center">
						<img src="img/CRUD.JPG" />
				</div>
					<br />
					<br />
				 To <b>Register Customers</b> use the button <b><i class="icon-plus"></i>Add Customers</b>
				 and you will be redirected to	the page to register a new Customer.<br />
				 To <b>View Customer</b> informations use the button <i class="icon-eye-open"></i> and you
				 will be redirected to the page of selected Customer.<br />
				 To <b>Update Customers</b> informations use the button <i class="icon-pencil"></i>
				 and you will be redirected to the selected Customers's page.<br/>
				 To <b>Remove Customers</b> use the button <i class="icon-trash"></i>
				 and, after, please confirm if you really want to disable the customer at next popup.
				</span>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>	
</section>


<!--  Client Unit Guide -->

<section th:fragment="clientUnitGuide">
		<div id="ModalCUG" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 class ="text-center" id="myModalLabel">Unit Guide</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<legend>
					<font size="4"> <b> Function Search </b></font>
				</legend>
			</fieldset>
			<span>  the search function is a field that allow you to find Units just typing
			        Id, Description or Unit.
					<br />
					the option "include removed", will include disabled units on search.
			</span>
					<br/>
					<br/>
					<br/>
				<fieldset>
					<legend>
						<font size="4"> <b> Function Units' page</b></font>
					</legend>
				</fieldset>
				<span>
				<div class="text-center">
						<img src="img/CRUD.JPG" />
				</div>
					<br />
					<br />
				 To <b>Register Units</b> use the button <b><i class="icon-plus"></i>Add Units</b>
				 and you will be redirected to	the page to register a new Unit.<br />
				 To <b>View Unit</b> informations use the button <i class="icon-eye-open"></i> and you
				 will be redirected to the page of selected Unit.<br />
				 To <b>Update Units</b> informations use the button <i class="icon-pencil"></i>
				 and you will be redirected to the selected Units's page.<br/>
				 To <b>Remove Units</b> use the button <i class="icon-trash"></i>
				 and, after, please confirm if you really want to disable the unit at next popup.
				</span>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>	
</section>

<!--  Cost Center Guide -->

<section th:fragment="costCenterGuide">
	<div id="ModalCCG" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 class ="text-center" id="myModalLabel">Cost Center Guide</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<legend>
					<font size="4"> <b> Function Search </b></font>
				</legend>
			</fieldset>
			<span>  the search function is a field that allow you to find Cost Centers just typing
			        Id, Description or Cost Center.
					<br />
					the option "include removed", will include disabled cost centers on search.
			</span>
					<br/>
					<br/>
					<br/>
				<fieldset>
					<legend>
						<font size="4"> <b> Function Cost Centers' page</b></font>
					</legend>
				</fieldset>
				<span>
				<div class="text-center">
						<img src="img/CRUD.JPG" />
				</div>
					<br />
					<br />
				 To <b>Register Cost Centers</b> use the button <b><i class="icon-plus"></i>Add Cost Centers</b>
				 and you will be redirected to	the page to register a new Cost Center.<br />
				 To <b>View Cost Center</b> informations use the button <i class="icon-eye-open"></i> and you
				 will be redirected to the page of selected Cost Center.<br />
				 To <b>Update Cost Centers</b> informations use the button <i class="icon-pencil"></i>
				 and you will be redirected to the selected Cost Centers's page.<br/>
				 To <b>Remove Cost Centers</b> use the button <i class="icon-trash"></i>
				 and, after, please confirm if you really want to disable the cost center at next popup.
				</span>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>	
</section>


<!--  Excel Import Guide -->

<section th:fragment="excelImportGuide">
	<div id="ModalEIG" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">Employee User Guide</h3>
		</div>
		<div class="modal-body">
			<fieldset>
				<legend>
					<font size="4"> <b> Function Search </b></font>
				</legend>
			</fieldset>
			<p>
				<font size="2"> the search function is a field that allow
					you to find employees just typing the name or id like image below.
					<center>
						<img src="img/employeeSearch.JPG" style="heigth: 80%; width: 80%;" />
					</center>
					<br />
				<br /> the option "include removed employee" , will include
					inactives employee on search.
				</font>
			</p>
			<fieldset>
				<legend>
					<font size="4"> <b> Employee add / view / edit / remove
					</b></font>
				</legend>
			</fieldset>
			<p>
				<font size="2">

					<center>
						<img src="img/employeeCRUD.JPG" style="heigth: 40%; width: 40%;" />
					</center>
					<br />
				<br /> To register a new employee use the button <i
					class="icon-plus"></i> Add Employee and you will be redirected to
					the page to register a new employee.<br /> To view employee
					informations use the button <i class="icon-eye-open"></i> and you
					will be redirected to the page of the employee selected .<br /> To
					update employee informations use the button <i class="icon-pencil"></i>
					and you will be redirected to the page of the employee selected ,
					this link will also allow you to add employee to the project and
					mentee to the Mentor.<br /> To remove employee use the button <i
					class="icon-trash"></i> after insert the leaving date at the popup
					like image bellow. <br /> <br /> <br />
					<center>
						<img src="img/modalLeavDate.JPG" style="heigth: 70%; width: 70%;" />
					</center>
					<br />
				<br /> <br /> <br /> <br />
				</font>
			</p>


		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
		</div>
	</div>
</section>

	<!-- Job Status -->
<div th:fragment="jobStatus">
<form action="#" th:action="@{/JobStatus(id=${job.id} , status=${job.active})}" method="post">
		<div th:attr="id=@{'changeStatus_'+${job.id}}" class="modal-confirm hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="myModalLabel" class="text-center">Are you sure?</h3>
			</div>
			<div class="modal-confirmation">
			<button type="submit" class="btn btn-primary">Yes</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
			</div>	
			<div class="modal-footer">
			<br/>	
			</div>
		</div>
	</form>
	</div>
	
	<!-- Project Status -->
<div th:fragment="projectStatus">
<form action="#" th:action="@{/ProjectStatus(id=${proj.description} , status=${proj.active})}" method="post">
		<div th:attr="id=@{'changeStatus_'+${proj.id}}" class="modal-confirm hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="myModalLabel" class="text-center">Are you sure?</h3>
			</div>
			<div class="modal-confirmation">
			<button type="submit" class="btn btn-primary">Yes</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
			</div>	
			<div class="modal-footer">
			<br/>	
			</div>
		</div>
	</form>
	</div>
	
	<!-- Customer Status -->
<div th:fragment="customerStatus">
<form action="#" th:action="@{/CustomerStatus(id = ${customer.description} , status = ${customer.active})}" method="post">
		<div th:attr="id=@{'changeStatus_'+${customer.id}}" class="modal-confirm hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="myModalLabel" class="text-center">Are you sure?</h3>
			</div>
			<div class="modal-confirmation">
			<button type="submit" class="btn btn-primary">Yes</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
			</div>	
			<div class="modal-footer">
			<br/>	
			</div>
		</div>
	</form>
	</div>
	
	<!-- Unit Status -->
<div th:fragment="unitStatus">
<form action="#" th:action="@{/UnitStatus(id=${unit.description} , status=${unit.active})}" method="post">
		<div th:attr="id=@{'changeStatus_'+${unit.id}}" class="modal-confirm hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="myModalLabel" class="text-center">Are you sure?</h3>
			</div>
			<div class="modal-confirmation">
			<button type="submit" class="btn btn-primary">Yes</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
			</div>	
			<div class="modal-footer">
			<br/>	
			</div>
		</div>
	</form>
	</div>
	
	<!-- Cost Center Status -->
<div th:fragment="costStatus">
<form action="#" th:action="@{/CostCenterStatus(id=${cost.id} , status=${cost.active})}" method="post">
		<div th:attr="id=@{'changeStatus_'+${cost.id}}" class="modal-confirm hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="myModalLabel" class="text-center">Are you sure?</h3>
			</div>
			<div class="modal-confirmation">
			<button type="submit" class="btn btn-primary">Yes</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
			</div>	
			<div class="modal-footer">
			<br/>	
			</div>
		</div>
	</form>
	</div>
	
	<!-- Modal to Clear Logs -->
<div th:fragment="clearLogs">
<form action="#" th:action="@{/ClearLogs}" method="post">
		<div id="ModalCL" class="modal-confirm hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<h3 id="myModalLabel" class="text-center">Are you sure?</h3>
			</div>
			<div class="modal-confirmation">
			<button type="submit" class="btn btn-primary">Yes</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
			</div>	
			<div class="modal-footer">
			<br/>	
			</div>
		</div>
	</form>
	</div>


