
<div th:fragment="navMain">
	<div th:include="Modals :: modals"></div>

	<section>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="well well-small">
					<ul class="header">
						<li class="name_aplication"><a href="mainPage">WorkPlace
								Control</a></li>

						<ul id="ul-header">
							<li style="padding-right: 30px; padding-left: 30px;"
								th:text="'Welcome, ' + ${session.user} + '!'"></li>

							<li
								style="padding-right: 30px; padding-left: 30px; border: none;">
								<a href="j_spring_security_logout"> Logout </a>
							</li>

							<li style="border: none;"><img src="img/logo-GFT.png" /></li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Menu Code-->

	<section>
		<div class="container-fluid">
			<div class="row-fluid">
				<div id="navbar" class="navbar navbar-inverse">
					<div class="navbar-inner">
						<div class="container" style="width: auto;">
							<ul class="nav" role="navigation"
								style="position: relative; left: 70px;">
								<li class="dropdown"><a id="drop1" href="#" role="button"
									class="dropdown-toggle" data-toggle="dropdown">Registration
										<b class="caret"></b>
								</a>

									<ul class="dropdown-menu">
										<li><a class="nav-menu" href="Employee">Employee</a></li>
										<li><a class="nav-menu" href="Job">Job</a></li>
										<li><a class="nav-menu" href="Project">Project</a></li>
										<li><a class="nav-menu" href="Customer">Customer</a></li>
										<li><a class="nav-menu" href="Unit">Client Unit</a></li>
										<li><a class="nav-menu" href="CostCenter">Cost Center</a></li>

										<div th:if="${session.roleUser == 1}">

											<li class="divider"></li>
											<li class="dropdown-submenu" id="dropSub"><a class="nav-menu" 
												tabindex="-1">More options</a>

												<ul class="dropdown-menu" id="dropSub">
													<li class="dropdown-submenu" id="dropSub">
													<a class="nav-menu"
												tabindex="-1"><i class="icon-cog"></i>Administration</a>
														<ul class="dropdown-menu" id="dropSub">
														<li><a class="nav-menu" href="Users"><i
																class="icon-pencil"></i> Users
														</a></li>
														<li><a class="nav-menu"  href="SystemLogs"><i
																class="icon-eye-open"></i> Logs
														</a></li>
														</ul>
														</li>
													<li><a class="nav-menu"  href="#ModalAG" data-toggle="modal"><i
																class="icon-question-sign"></i> Administration Guide
													</a></li>
												</ul></li>
										</div>


										<div th:if="${session.roleUser == 2}">
											<li class="divider"></li>
											<li class="dropdown-submenu" id="dropSub"><a class="nav-menu" 
												tabindex="-1">More options</a>
												<ul class="dropdown-menu" id="dropSub">
													<li><a class="nav-menu"  href="#ModalCP" data-toggle="modal"><i class="icon-pencil"></i>
																Change Password
													</a></li>
												</ul></li>
										</div>
									</ul></li>

								<li class="dropdown"><a href="#" id="drop2" role="button"
									class="dropdown-toggle nav-menu" data-toggle="dropdown">Import<b
										class="caret"></b></a>

									<ul class="dropdown-menu">
										<li><a class="nav-menu" href="showImport">New Employees</a></li>
										<li><a class="nav-menu" href="InitialImport">Initial Import</a></li>
										<li><a class="nav-menu" href="Mapping">Mapping</a></li>
									</ul></li>

								<li class="dropdown"><a href="#" id="drop2" role="button"
									class="dropdown-toggle nav-menu" data-toggle="dropdown">Reports<b
										class="caret"></b></a>

									<ul class="dropdown-menu">
										<li><a class="nav-menu" href="MentorReport">Mentors x Mentees</a></li>
										<li><a class="nav-menu" href="ProjectReport">Employees x Project</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>