<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8"></meta>
	<title>Project</title>
	
			<script type="text/javascript" src="js/jquery.js"></script>
			<script type="text/javascript" src="js/bootstrap.js"></script>

			<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
			<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
			<link rel="stylesheet" type="text/css" href="css/principal.css" />
				
			<script type="text/javascript">
			/*this code is to hide the td  active class ,and this is used to verify if there is inactive on display ,
			  with true this code will change the checkbox as checked */
			$( document ).ready(function() {
					$( 'td.active' ).each(function( index ){
						$( this ).hide(100);
						if( $( this ).text() == 1 ) {
							$( '#isInactive' ).prop( 'checked' , true );
						}
						
					});
					
				
				});
			
			
			/* this code is to make  on server a solicitation of datas with inactives  */
			$( document ).ready(function(){ 
				$( '#isInactive' ).click( function() {
					  if ($( this ).is( ':checked' )) {
						   	window.location.href = 'ProjectInactive';
				        }else{
				        	window.location.href = 'Project';
				        }
				  });
			});
				</script>

		</head>
		<body>

	<div th:include="NavMain :: navMain"></div>	
	<div th:include="Modals :: projectGuide"></div>			   


		<div id="employee_list">
			<section>
				<br/>
				<div class="container-fluid">
					<div class="row-fluid">
						
							<fieldset>
								 <form class="navbar-search pull-left">
									  	<legend>
									  		<ul class="legenda clearfix">
									  			<li>
									  				Projects
									  			</li>
									  			<li class="legenda_search">
											<form>
												<input type="hidden" name="page" th:value="${param.page[0]}" th:if="${param.page != null}" />
												<input type="text" class="search-query" name="s" placeholder="Search" style="width: 200px;" th:value="${param.s[0]}" th:if="${param.s != null}" />
												<input type="text" class="search-query" name="s" placeholder="Search" style="width: 200px;" th:if="${param.s == null}" />
												
												<button class="btn" id="search">
													<i class="icon-search"></i>
												</button>
											</form>
										</li>
									  			<li>
											<label>
												<input type="checkbox" id="isInactive" /> 
												Include Removed Projects
											</label>
										</li>
									  			<li id ="buttons_position">
									  			<ul>
									  			<li>
									  				<a href="ProjectRegistration">
									  				<button type="button" class = "button-add">
															<i class="icon-plus"></i>Add Project
													</button>
												</a>
									  			</li>
									  			<li class="dropdown">
									  				<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
									  					<button type="button">
									  						<img src="img/tres-barras.png" style="width: 30px; heigth:40px;"/>
									  					</button>
									  				</a>
									  				<ul class="dropdown-menu">
											<li><a href="mainPage"><i
														class="icon-home"></i> Back to Main Page</a></li>
																						<li><a href="#ModalPG" data-toggle="modal"><i class="icon-question-sign"></i>
															Project Guide</a></li>
													</ul>
									  				
									  			</li>
									  			</ul>
									  			</li>
									  		</ul>
									  	</legend>
									</form>
							</fieldset>
								 <table class="table table-bordered">
				  					<thead>
				  					<tr>
				  						<th>Id</th>
										<th>Description</th>
										<th>Customer</th>
										<th class = "column-icon">Edit</th>
										<th class = "column-icon">Active</th>
				  					</tr>
				  					</thead>
				  					<tbody>
				  					<tr th:each="proj : ${Project}" class="project">
				  						<td   th:text="${proj.id}" class="id"></td>
				  						<td   th:text="${proj.description}" class="description"></td>
				  						<td   th:text="${proj.customer.description}"></td>
				  						<td class="line-icon">
				  								<a href="#" th:href="@{/ProjectUpdate(id=${proj.description})}">
					  							<button type="submit" class="btn btn-default btn-lg">
	 													<i class="icon-pencil"></i>
												</button>
										</a>
				  						</td>
				  						<td class="line-icon">
				  						<div th:include="Modals :: projectStatus"></div>
				  						<a type="input" th:attr="href=@{'#changeStatus_'+${proj.id}}" role="button" data-toggle="modal">
					  							<button type="submit" class="btn btn-default btn-lg">
	 													<i class="icon-trash" th:if="${proj.active == 0}"></i>
														<i class="icon-repeat" th:if="${proj.active == 1}"></i>
												</button>
										</a>
				  						</td>
				  					</tr>
				  					</tbody>

								</table>
					</div>
				</div>
			</section>
			</div>
<div th:include="Pagination :: pagination"></div>		 	
			<br/>
			<br/>
		
<script type="text/javascript">
			$(function(){
				page = window.location.href.split("/");
				page = page[page.length - 1].split("?");

				if (page[0] == "ProjectInactive") {
					$('#isInactive').prop("checked", true);
				}
				
				$('#isInactive').change(function() {
					if ($( this ).is( ':checked' )) {
						window.location.href = 'ProjectInactive';
					} else {
						window.location.href = 'Project';
					}
				});
			});
		</script>
</body>

</html>