<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1"></meta>
		
		<title>Import Initial</title>
		
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/principal.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
	</head>
	
	<body>
		<div th:include="NavMain :: navMain"></div>
		
		<h2 class="text-center">Import Initial Results</h2>
		
		<div class="list-import-initial">
			<h3>Cost Center</h3>
			
			<p th:if="${numCostCenter > 0}" th:text="'Cost center insert into data base: ' + ${numCostCenter}" class="text-success"></p>
			
			<p th:if="${costCenterWarning.size() > 0}">
				Cost Centers already exists in database
				
				<ul>
					<li th:each="cosWarning : ${costCenterWarning}" th:text="'ID: ' + ${cosWarning.id} + ', Title: ' + ${cosWarning.title}" class="text-warning"></li>
				</ul>
			</p>
			
			<p th:if="${costCenterError.size() > 0}">
				Error to insert the Cost Centers Below
				
				<ul>
					<li th:each="cosError : ${costCenterError}" th:text="'ID: ' + ${cosError.id} + ', Title: ' + ${cosError.title}" class="text-danger"></li>
				</ul>
			</p>
		</div>
		
		<div class="list-import-initial">
			<h3>Job</h3>
			
			<p th:if="${numJob > 0}" th:text="'Jobs insert into data base: ' + ${numJob}" class="text-success"></p>	
			
			<p th:if="${jobWarning.size() > 0}">
				Jobs already exists in database
				
				<ul>
					<li th:each="jWarning : ${jobWarning}" th:text="'ID: ' + ${jWarning.id} + ', Title: ' + ${jWarning.title}" class="text-warning"></li>
				</ul>
			</p>
			
			<p th:if="${jobError.size() > 0}">
				Error to insert the Jobs Below
	
				<ul>
					<li th:each="jError : ${jobError}" th:text="'ID: ' + ${jError.id} + ', Title: ' + ${jError.title}" class="text-danger"></li>
				</ul>
			</p>
		</div>
		
		<div class="list-import-initial">
			<h3>Unit</h3>
			
			<p th:if="${numUnit > 0}" th:text="'Units insert into data base: ' + ${numUnit}" class="text-success"></p>	
			
			<p th:if="${unitWarning.size() > 0}">
				Units already exists in database
				
				<ul>
					<li th:each="untWarning : ${unitWarning}" th:text="'ID: ' + ${untWarning.id} + ', Title: ' + ${untWarning.description}" class="text-warning"></li>
				</ul>
			</p>
			
			<p th:if="${unitError.size() > 0}">
				Error to insert the Units Below
	
				<ul>
					<li th:each="untError : ${unitError}" th:text="'ID: ' + ${untError.id} + ', Title: ' + ${untError.description}" class="text-danger"></li>
				</ul>
			</p>
		</div>
		
		<div class="list-import-initial">
			<h3>Customer</h3>
			
			<p th:if="${numCustomer > 0}" th:text="'Customers insert into data base: ' + ${numCustomer}" class="text-success"></p>	
			
			<p th:if="${customerWarning.size() > 0}">
				Customers already exists in database
				
				<ul>
					<li th:each="custWarning : ${customerWarning}" th:text="'ID: ' + ${custWarning.id} + ', Title: ' + ${custWarning.description}" class="text-warning"></li>
				</ul>
			</p>
			
			<p th:if="${customerError.size() > 0}">
				Error to insert the Customers Below
	
				<ul>
					<li th:each="custError : ${customerError}" th:text="'ID: ' + ${custError.id} + ', Title: ' + ${custError.description}" class="text-danger"></li>
				</ul>
			</p>
		</div>
		
		<div class="list-import-initial">
			<h3>Project</h3>
			
			<p th:if="${numProject > 0}" th:text="'Projects insert into data base: ' + ${numProject}" class="text-success"></p>	
			
			<p th:if="${projectWarning.size() > 0}">
				Projects already exists in database
				
				<ul>
					<li th:each="projWarning : ${projectWarning}" th:text="'ID: ' + ${projWarning.id} + ', Title: ' + ${projWarning.description}" class="text-warning"></li>
				</ul>
			</p>
			
			<p th:if="${projectError.size() > 0}">
				Error to insert the Projects Below
	
				<ul>
					<li th:each="projError : ${projectError}" th:text="'ID: ' + ${projError.id} + ', Title: ' + ${projError.description}" class="text-danger"></li>
				</ul>
			</p>
		</div>
		
		<div class="list-import-initial">
			<h3>Employee</h3>
			
			<p th:if="${employeeWarning.size() > 0}">
				Employees already exists in database
				
				<ul>
					<li th:each="empWarning : ${employeeWarning}" th:text="'ID: ' + ${empWarning.id} + ', Name: ' + ${empWarning.wsName}" class="text-warning"></li>
				</ul>
			</p>
			
			<p th:if="${numEmployee > 0}" th:text="'Employees insert into data base: ' + ${numEmployee}" class="text-success"></p>	
			
			<p th:if="${employeeError.size() > 0}">
				Error to insert the Employees Below
	
				<ul>
					<li th:each="empError : ${employeeError}" th:text="'ID: ' + ${empError.id} + ', Name: ' + ${empError.wsName}" class="text-danger"></li>
				</ul>
			</p>
		</div>
		
		<div class="list-import-initial">
			<h3>Employee including in Project</h3>
			
			<p th:if="${employeeAssignmentWarning.size() > 0}">
				Employees already exists in database
				
				<ul>
					<li th:each="empAssWarning : ${employeeAssignmentWarning}" th:text="'Project: ' + ${empAssWarning.project.description} + ', Employee: ' + ${empAssWarning.employee.wsName}" class="text-warning"></li>
				</ul>
			</p>
			
			<p th:if="${numEmployeeAssignment > 0}" th:text="'Employee to project insert into data base: ' + ${numEmployeeAssignment}" class="text-success"></p>	
			
			<p th:if="${employeeAssignmentError.size() > 0}">
				Error to insert the Employees Below
	
				<ul>
					<li th:each="empAssError : ${employeeAssignmentError}" th:text="'ID: ' + ${empAssError.project.description} + ', Title: ' + ${empAssError.description}" class="text-danger"></li>
				</ul>
			</p>
		</div>
	</body>
</html>