<html>
	<head>
		<meta charset="utf-8"></meta>
		<title>User</title>
		
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="css/principal.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
	</head>
	
	<body>
		<div th:include="NavMain :: navMain"></div>
		
		<div id="user_list">
			<section>
				<br />
				
				<div class="container-fluid">
					<div class="row-fluid">
						<form class="navbar-search pull-left">
							<fieldset>
								<legend>
									<ul class="legenda">
										<li>Users</li>
										
										<li class="legenda_search">
											<input type="text" class="search-query" name="search" placeholder="Search" style="width: 200px;" />
										</li>
										
										<li>
											<label>
												<input type="checkbox" id="isInactive" /> 
												Include Removed Users
											</label>
										</li>
										
										<li id="buttons_position">
											<ul>
												<li>
													<a href="UserRegistration">
														<button type="button" class = "button-add">
															<i class="icon-plus"></i>Add Employee
													</button>
												</a>
												</li>
										
												<li class="dropdown">
													<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
														<button type="button">
															<img src="img/tres-barras.png" style="width: 30px; heigth: 40px;" />
														</button>
													</a>
												
													<ul class="dropdown-menu">
														<li>
															<a href="mainPage">
																<font size="2" color="#555">
																	<i class="icon-home"></i>
																	Back to Main Page
																</font>
															</a>
														</li>
														
														<li>
															<a href="#ModalEG" data-toggle="modal">
																<font size="2" color="#555">
																	<i class="icon-question-sign"></i>
																	User guide
																</font>
															</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</legend>
							</fieldset>
						</form>
						
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Username</th>
									<th>User Role</th>
									<th class = "column-icon">Edit</th>
									<th class = "column-icon">Remove</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="user : ${Users}" class="user">
									<td th:text="${user.username}" class="id"></td>
									
									<td th:text="${user.userRole.getUserRole()}"></td>
									
									<td style="width: 20px;" class="text-center">
										<a href="#" th:href="@{/UserUpdate(username=${user.username})}">
											<button type="submit" class="btn btn-default btn-lg">
												<i class="icon-pencil"></i>
											</button>
										</a>
									</td>
									
									<td style="width: 20px;" class="text-center">
										<a href="#" th:href="@{/UserStatus(username=${user.username}, status=${user.enable})}" class="remove">
											<button type="input" role="button" class="btn btn-default btn-lg">
												<i class="icon-trash" th:if="${user.enable == 1}"></i>
												<i class="icon-repeat" th:if="${user.enable == 0}"></i>
											</button>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
		
		<script type="text/javascript">
			$(function(){
				$(".remove").click(function(){
					if (!confirm("Are you sure?")) {
						return false;
					}
				});
				
				page = window.location.href.split("/")
				if (page[page.length - 1] == "UsersInactive") {
					$('#isInactive').prop("checked", true);
				}
				
				$('#isInactive').change(function() {
					if ($( this ).is( ':checked' )) {
						window.location.href = 'UsersInactive';
					} else {
						window.location.href = 'Users';
					}
				});
			});
		</script>
	</body>
</html>